<main class="main welance-grid" onload="alert('wiii');">

    {#<label class="wg-tab-label-option">
        <button class="wg-layout-mode" type="button" value="1">📐</button>
    </label>#}

    {% for bpOpt in breakpointOptions %}
        <label class="wg-tab-label {{bpOpt}}-check">{{bpOpt}} <small class="wg-{{bpOpt}}-offset">1</small><small class="wg-{{bpOpt}}-width">12</small></label>
    {% endfor %}

    {% for bpOpt in breakpointOptions %}
        <section class="wg-section {{bpOpt}}-content">
            <div class="wrap wrap-slider">
                <div class="row">
                    <div class="col--12-12">
                        <div class="wrap">
                            <div class="row">
                                <div class="col-wg--base col--1-12">1</div>
                                <div class="col-wg--base col--1-12">2</div>
                                <div class="col-wg--base col--1-12">3</div>
                                <div class="col-wg--base col--1-12">4</div>
                                <div class="col-wg--base col--1-12">5</div>
                                <div class="col-wg--base col--1-12">6</div>
                                <div class="col-wg--base col--1-12">7</div>
                                <div class="col-wg--base col--1-12">8</div>
                                <div class="col-wg--base col--1-12">9</div>
                                <div class="col-wg--base col--1-12">10</div>
                                <div class="col-wg--base col--1-12">11</div>
                                <div class="col-wg--base col--1-12">12</div>
                            </div>
                        </div>
                    </div>

                    <div class="slider slider-not-created {{bpOpt}} col--12-12" data-from="0" data-to="12"></div>
                </div>
            </div>
        </section>
    {% endfor %}

    <!-- add missing breakpoints meesage -->
    {% for missingBp in missingBreakpoints %}
        <section class="wg-section {{missingBp}}-content">
            <div class="wrap">
                <div class="row">
                    <div class="col--12-12 col--offset-9-12">
                        <br/>
                        NO {{missingBp}} Settings
                        <br/><br/>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

    <textarea style="display:none;" rows="30" cols="150" class="wg-data" name="{{ name }}" placeholder="place holder here">{{ value }}</textarea>

    <label class="wg-tab-label-option wg-tab-label-option--right">
        New Row
        <input class="sel-row row-new" type="checkbox" name="row" value="1">
    </label>
    <label class="wg-tab-label-option wg-tab-label-option--right">
        Extra Wide
        <input class="sel-row row-full-width" type="checkbox" name="row" value="1">
    </label>
    <label class="wg-tab-label-option wg-tab-label-option--right">
        Full Height
        <input class="sel-row row-full-height" type="checkbox" name="row" value="1">
    </label>
</main>