{% import "_includes/forms" as forms %}

{% set input %}
	<table class="data">
		{% for breakpoint in allBreakpoints %}
			<tr>
				<td>
					{{ forms.lightswitch({
						 on: (breakpoint in settings.breakpointOptions),
						 small: true,
						 name: 'breakpointOptions['~breakpoint~']'
					}) }}
				</td>
				<td class="code">
					{{ breakpoint }}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endset %}

{{ forms.field({
	label: "Breakpoints"|t,
	instructions: "Choose which breakpoints should be available to your field."|t,
}, input) }}
